.about{
  max-width:900px;
  margin:auto;
  padding:0 20px;
  text-align:center;
}

.about h2{
  font-size:36px;
  color:#104629;
  margin-bottom:20px;
}

.about p{
  font-size:18px;
  color:#374151;
  line-height:1.8;
  margin-bottom:16px;
}

.about span{
  color:#104629;
  font-weight:600;
}