.contact-section{
  height: 350px;
  border-radius: 6px;
  padding-bottom: 40px;
  padding-top: 10px;
  /* background: #5c9a80; */
  /* background-color: rgb(227, 242, 237); */
   background:#c2d0c8;
  color:#104629;
  margin-top: 20px;
   
}

.contact-title{
  text-align: center;
  font-size: 40px;
  /* margin-bottom: 10px; */
}

.vibe-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 40px;
  flex-wrap: wrap;
}

.details{
  flex: 1;
  font-size: 18px;
  line-height: 1.7;
  margin-left: 60px;
}

.img{
  flex: 1;
  text-align: center;
}

.img img{
  width: 400px;
  max-width: 100%;
}