.skills-section{
  width:100%;
  padding:clamp(40px,6vw,100px) clamp(20px,8vw,120px);
  box-sizing:border-box;
  background:#f8fafc;
  border-radius:8px;
}

.skills-section h2{
  text-align:center;
  font-size:clamp(26px,4vw,42px);
  color:#104629;
  margin-bottom:clamp(30px,5vw,70px);
}

/* GRID */
.skills-container{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
  gap:clamp(20px,3vw,50px);
  justify-items:center;
}

/* CARD */
.skill-card{
  width:100%;
  max-width:130px;
  aspect-ratio:1/1;
  background:white;
  border-radius:50%;

  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  gap:8px;

  font-weight:600;
  color:#1f2937;

  box-shadow:0 15px 40px rgba(0,0,0,.08);
  transition:.35s;
  cursor:pointer;
}

.skill-card img{
  width:clamp(28px,3vw,48px);
  height:clamp(28px,3vw,48px);
  object-fit:contain;
}

/* HOVER */
.skill-card:hover{
  transform:translateY(-10px) scale(1.05);
  box-shadow:0 25px 60px rgba(37,99,235,.25);
  background:#338d5d;
  color:white;
}

/* 📱 SMALL MOBILE EXTRA FIX */
@media (max-width:400px){

  .skills-container{
    grid-template-columns:repeat(2,1fr);
    display: flex;
    flex-direction: column;
  }

}